form {
  position : relative;
  margin : 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: gray;
  font-family: arial;
}

form input[type=text] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form input[type=text]#zip {
  width: 51px;
}

form input[type=email] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;	
}

form textarea {	/* sets the height and width of the text field */
 height: 6rem;
 width: 50%;
 color: #000;
 font-size: 16px;
 margin-bottom: 20px;
}

form input,
form textarea {
 width: 100%;
 margin-bottom: 20px;
}


form button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}




